River16Sver1.1.xlsx filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
River16S_v2.2/River16S.ver2.2.xlsx filter=lfs diff=lfs merge=lfs -text
River16S_v2.3/River16S.ver2.3.xlsx filter=lfs diff=lfs merge=lfs -text
